[Unit]
Description=Morpheus LLM Enrichment to Wazuh Indexer
After=network.target

[Service]
Type=simple
User=intern_soc
WorkingDirectory=/home/intern_soc/wazuh-ai-threat-detection/scripts
ExecStart=/home/intern_soc/logtrain-env/bin/python /home/intern_soc/wazuh-ai-threat-detection/scripts/llm_to_wazuh.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target